* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /*background-color: #D1D9DD;*/
}

body, button {
    font-family: "Poppins", sans-serif;
}

.divVideo {
    width: 100%;
    height: 100%;
    position: absolute;

    img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.txtErro {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 70px;
    z-index: 2;

    h1 {
        font-size: 40px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
    }

    button {
        padding: 16px 24px;
        font-size: 18px;
        border-radius: 32px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 20px;
    }
}

/* RESPONSIVIDADE */

/* TABLETS */

@media (max-width: 768px) {
    .divVideo {
        top: 0;
    }

    .conteudo {
        justify-content: center;
    }
}


/* CELULARES PEQUENOS */

@media (max-width: 480px) {
    .conteudo {
        justify-content: flex-end;
        padding-bottom: 60px;
        height: 100vh;
        z-index: 2;

        h1 {
            font-size: 24px;
            margin-bottom: 5px;
        }
    }

    .txtErro {
        width: 100%;
    }
}