* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #D1D9DD;
}

body, button {
    font-family: "Poppins", sans-serif;
}

.divVideo {
    width: 100%;
    height: 100%;
    position: absolute;

    img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.txtErro {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 27px;
    z-index: 2;

    h1 {
        font-size: 40px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
    }

    button {
        padding: 16px 24px;
        font-size: 18px;
        border-radius: 32px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 16px;

        /* ESTILIZAÇÃO BUTTON */

        font-weight: 500;
        color: #FFFFFF;
        background: linear-gradient(135deg, #1E5FA8 0%, #1E88C8 45%, #36C7C1 100%);
        box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.25), 0 12px 25px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
    }

    button:hover {
        transform: translateY(-2px);
        box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.35), 0 16px 30px rgba(0, 0, 0, 0.35);
    }

    button:active {
        transform: scale(0.97);
    }
}

/* RESPONSIVIDADE */

/* TABLETS */

@media (max-width: 768px) {
    .divVideo {
        top: 0;
    }

    .conteudo {
        justify-content: center;
    }
}


/* CELULARES PEQUENOS */

@media (max-width: 480px) {
    
    main {
        position: absolute;
        overflow: hidden;
    }
    
    .conteudo {
        justify-content: end;
        padding-bottom: 32px;
        height: 100vh;
        z-index: 2;

        h1 {
            font-size: 27px;
            font-weight: 500;
        }

        button {
            font-size: 16px;
            padding: 16px 20px;
            justify-content: flex-end;
            align-items: end;
        }
    }

    .txtErro {
        width: 100%;
    }

}

